* {
  margin: 0;
  padding: 0; 
}
.btnT{
    opacity: .5;
  }

.scrollable {
    position: absolute;
    /*top: 50px;*/
    left: 0;
    right: 0;
    bottom: 0;
    overflow: scroll;
    -webkit-overflow-scrolling: touch;
}

/* Icon 1 */

#nav-icon {
  margin-top: -28px;
  pointer-events: all !important;
  width: 80px;
  height: 85px;
  opacity: .7;
  /*position: relative;*/
  /*margin: 50px auto;*/
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
  /*z-index: 201;*/
  
}
#nav-icon:hover{

opacity: 1;
/*width: 20%;*/
/*margin-left: -10px;*/
}

#nav-icon span {
  display: block;
  position: absolute;
  height: 8px;
  width: 10%;
  background: white;
  /*border-radius: 9px;*/
  opacity: 1;
  left: 45%;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

/* Icon 4 */

#nav-icon {
  -ms-transform: scale(.35, .35); 
  -webkit-transform: scale(.35, .35);
  transform: scale(.35, .35)
}

#nav-icon span:nth-child(1) {
  top: 20px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(2) {
  top: 38px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon span:nth-child(3) {
  top: 56px;
  -webkit-transform-origin: left center;
  -moz-transform-origin: left center;
  -o-transform-origin: left center;
  transform-origin: left center;
}

#nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)scale(10,1);
  top: 9px;
  left: 8px;
}

#nav-icon.open span:nth-child(2) {
  width: 0%;
  opacity: 0;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)scale(10,1);
  top: 67px;
  left: 8px;
}

.hover-1 {
  cursor: pointer;
  opacity: .5;
  /*transform: scale(1);
  transition: transform .4s ease;*/
}
.hover-1:hover {
  opacity: 1;
  /*transform: scale(1.05);*/

}


/*.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0;
      margin-bottom: 100px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}*/

#btnTop{
      position: fixed;
    float: right;
    bottom: 20px;
    right: 40px;
    width: 50px !important;
    /*opacity: 0;*/
}

.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
    margin-bottom: 200px;
}

.embed-container iframe, .embed-container object, .embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


@media 
      (-webkit-min-device-pixel-ratio: 2), 
      (min-resolution: 192dpi) { 
        #container{
          -ms-transform: scale(2, 2) translate(12.5vw, 12.5vh); /* IE 9 */
          -webkit-transform: scale(2, 2) translate(12.5vw, 12.5vh); /* Safari */
          transform: scale(2, 2) translate(12.5vw, 12.5vh);
      }}
      



@media screen and (max-width:550px){
  #drag{
        margin-bottom: -55px;
        
      }

  .embed-container{
    margin-bottom: 100px;
  }
  #embed{
          width: 80%;
          left: 50%;
          margin-left: -40%;
          /*bottom: -4% !important;*/
        }
  #embed iframe{
    height: 130px !important;
  }
  #backText{
    opacity: .3 !important;
    margin-top: 38px;
  }

  #finding {
    /* margin-top: -200px; */
    top: 8%;
}

  .v2, .v3{
    width: 100% !important;
    padding-bottom: 56.25% !important;
  }

  #btnTop{
    -ms-transform: scale(.6, .6);
    -webkit-transform: scale(.6, .6);
    transform: scale(.6, .6);
    right: 20px;
    z-index: 33;
  }

  #logo-0 {
      position: absolute;
        left: 50%;
        margin-left: -90px;
      width: 180px;
    }


  .container{
    /*position: absolute;*/
    /*bottom:50px;*/
  }
/*  #socials{
      -ms-transform: scale(.4, .4);
          -webkit-transform: scale(.4, .4);
          transform: scale(.4, .4);
          margin-top: -150px;

  }*/
  /*#lost{
    position: absolute;
    float: right;
  }*/

  #nav-icon{
    width: 60px !important;
    height: 95px !important;
    margin-right: -25px;
    margin-top: -47px !important;
    padding: 20px;
    /*bottom: 0;*/
      

  }
  .soundIco{
    /*width: 60px !important;
    height: 95px !important;
    margin-right: -25px;
    margin-top: -7px !important;
    padding: 20px;
    /*bottom: 0;*/
  }
  #nav-icon.open span:nth-child(1) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg)scale(7,1);
  top: 19px;
  left: 20px;
}

#nav-icon.open span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg)scale(7,1);
  top: 70px;
  left: 20px;
}
  
  #about{
    padding: 0px 20px;
    font-size:12px;
  }
  #about-container{
    margin-top: 100px;
}
  .albums {
        width:80%;
      padding-bottom: 100px;
        margin-left: 10%;
        margin-bottom: 0;
  }
  .albumImg {
        width:80% !important;
  }
/*  .scaleImg4:hover {
    -webkit-transform: scale(1.5);
      -ms-transform: scale(1.5); 
      -moz-transform: scale(1.5);
      transform: scale(1.5);
  }*/
  .socials {
        margin-left: 8%;
            margin-top: 30px;
  }
/*  #socials{
    margin-top: -250px;
  }*/
  #logo-fb {
    /*margin-right: 500px;*/
/*      width: 20%;
          left: 5%;*/
  }
  #logo-insta {
      width: 20%;
          left: 5%;

  }
  #lost{
      text-align: center;
      margin-top: 420px;
      left: 0;
      right: 0;
      margin-bottom: 120px;
  }
#audioPlayer{
  margin-top: 35px;
}
/*.audio img {
    margin-top: 30px;
}*/
/*#audio {
    margin-top: 50px;
    margin-bottom: 0px;
    padding-left: 0px;
}*/
.playIco{
  margin-bottom: 40px !important;
}
#logo-spotify {
    display: block;
    left: 50%;
    margin-left: -15%;
    margin-bottom: 50px;
}
#logo-soundcloud{
  display: block;
    margin-bottom: 70px;
    margin-left: 35%;
}
#logo-soundcloud img {
    width: 90%;
}
#logo-apple {
    left: 33%;
}
#footer {
    text-align: center;
}
#logo-email {
    display: block;
    left: 0;
    margin-left: 0;
    margin-top: 50px;
    margin-bottom: 50px;
}
.lost{
  float: none;
  height: 130px;
  margin-left: -3%;
}
}

@media screen and (max-width:1024px) and (min-width:550px){

  #embed{
          width: 60%;
          left: 50%;
          margin-left: -30%;
          /*bottom: -4% !important;*/
        }

#embed iframe{
    height: 280px !important;
  }

  #finding {
    /* margin-top: -200px; */
    /*top: 15%;*/
}

   #btnTop{
    -ms-transform: scale(.8, .8);
    -webkit-transform: scale(.8, .8);
    transform: scale(.8, .8);
    right: 20px;
    z-index: 33;

    /*opacity: .3;*/
  }


#about{
  padding: 50px 80px;
}
#about-container{
    margin-top: 100px;
}
.lost {
height: 130px;
} 

.albumsOut{
  margin-top: 20px;
}
#footer{
      margin-bottom: 50px;
}
.btn{
  width: 120px;
}
}
@media screen and (min-width:1024px){
.albumsOut {
    margin-left: 2%;
}

}